---
title: Résidence Autonomie Claude Vielpeau
---

<%= partial "home/banner" %>
<!-- residenceautonomievielpeau@gmail.com. ResidenceVielpeau..$ -->

<div class="wrapper-contact">
  <div class="container contact-content">
    <div class="row">
      <% dato.home.blocs.each do |bloc| %>
        <div class="col-xs-12 col-sm-4">
          <div class="rubrique">
            <i class="fa fa-<%=bloc.icone%>"></i>
            <h3><%=bloc.titre%></h3>
            <p><%=bloc.texte%></p>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class="container home-container containers">
  <div>
    <%= dato.home.welcome_text %>
  </div>
  <img src="<%= dato.home.conteneur_image1.url(fm: :png) %>" alt="">
</div>

<div class="boxs">
  <div class="container">

      <% dato.home.boxs.each do |box| %>
        <div class="row box">
          <h3><strong><%=box.titre%></strong></h3>
          <div class="col-xs-12 col-sm-6 box-texte">
            <div><p><%=box.texte%></p></div>
          </div>
          <div class="col-xs-12 col-sm-6 box-image">
            <img src="<%= box.image.url(fm: :png) %>" alt="">
          </div>
        </div>
      <%end%>
  </div>

</div>
